.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

**/bin/
**/obj/

**/Debug/
**/*.pdb

**/*.dtbcache.v2
**/*.cache
**/*.sourcelink.json
**/*.AssemblyInfoInputs.cache
**/*.AssemblyReference.cache
**/csproj.FileListAbsolute.txt
**/apphost.exe

**/coveragereport/
**/TestResults/
**/*.coverage
**/*.coveragexml
**/*.cobertura.xml

*.bak
*.log
*.tmp
*.temp